.is-bordered-custom {
   border: 1px solid #eee;
}

.is-border-radius-big {
   border-radius: 50px;
}

.is-border-radius-custom {
   border-radius: 30px;
}

.is-border-radius-small {
   border-radius: 15px;
}

.is-border-radius-very-small {
   border-radius: 10px;
}

.is-primary-color {
   color: $primary-color;
}

.is-line-height-tall {
   line-height: 3rem;
}

.is-custom-level {
   @include touch {
      margin: 1.5rem 0 !important;
   }

   .level-right .level-item {
      @include touch {
         margin-bottom: 1rem;
      }
   }
}

.teacher-image {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin-right: auto;
   margin-left: auto;
}

.calendar-section {
   @include touch {
      // Reset padding in touch screens
      padding: 1.5rem !important;
   }
}

#complete_registration_btn {
   @include touch {
      width: 100%;
   }
}

#header {
   @include touch {
      flex-direction: column-reverse;
   }
}

// Form Integration styles
.wpuf-column-fields li {

   label {
      @extend .label;

      font-weight: normal;
      font-size: 14px;

      .required {
         color: #f44336
      }
   }

   input {
      @extend .input;
   }

   textarea {
      @extend .textarea;
   }

   input,
   textarea {
      background: #fff !important;
      box-shadow: none !important;
      padding: 25px !important;
      border-radius: 13px;
      transition: all .3s ease;

      &:focus {
         border-color: #3e8ed0 !important;
         box-shadow: 0px 0px 4px 0px rgba(62, 142, 208, 0.29) !important;
      }
   }
}

.weforms_submit_btn {
   background-color: #2f43ff !important;
   border-color: transparent !important;
   color: #fff !important;
   border-width: 1px !important;
   cursor: pointer !important;
   justify-content: center !important;
   text-align: center !important;
   white-space: nowrap !important;
   border-radius: 14px !important;
   padding: 13px 25px !important;
   text-shadow: none !important;
   box-shadow: none !important;
   float: left !important;
}
